<%= form_for(@bussiness_plan) do |f| %>
  <% if @bussiness_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bussiness_plan.errors.count, "error") %> prohibited this bussiness_plan from being saved:</h2>

      <ul>
      <% @bussiness_plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :class => "vacios"  %>
  </div>
  <div class="field">
    <%= f.label :business_vision %><br />
    <%= f.text_area :vision, :class => "vacios"  %>
  </div>
  <div class="field">
    <%= f.label :reasoning_leading_to_the_goodness_of_the_proposal %><br />
    <%= f.text_area :reason, :class => "vacios"  %>
  </div>
  <div class="field">
    <%= f.label :runtime %><br />
    <%= f.number_field :runtime, :class => "vacios"  %>
  </div>
  <div class="field">
    <%= f.label :total_investment %><br />
    <%= f.number_field :total_investment, :class => "vacios"  %>
  </div>
  <div class="field">
    <%= f.label :net_margin %><br />
    <%= f.number_field :net_margin, :class => "vacios"  %>
  </div>
  <div class="field">
    <%= f.label :roi %><br />
    <%= f.text_field :roi, :class => "vacios"  %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
	<%= f.collection_select :category_id, Category.all, :id, :name, :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :Estado %><br />
    <%= f.text_field :status, :readonly => true, :value=> "Inicial" %>
  </div>
<%
@wise = Wise.find_by_user_id(current_user.id)
%>
<%= hidden_field(:bussiness_plan, :wise_id , :value =>  @wise.id) %>  

  <div class="actions">
    <%= f.submit "Grabar", :onclick => "return validaCamposVacios()"%>

  </div>
<% end %>
