<p id="notice"><%= notice %></p>

<p>
  <b>Titulo del proyecto:</b>
  <%= @bussiness_plan.title %>
</p>

<p>
  <b>Vision del plan:</b>
  <%= @bussiness_plan.vision %>
</p>

<p>
  <b>Razonamiento:</b>
  <%= @bussiness_plan.reason %>
</p>

<p>
  <b>Tiempo de ejecucion:</b>
  <%= @bussiness_plan.runtime %>
</p>

<p>
  <b>Total de inversion:</b>
  <%= @bussiness_plan.total_investment %>
</p>

<p>
  <b>Net margin:</b>
  <%= @bussiness_plan.net_margin %>
</p>

<p>
  <b>Roi:</b>
  <%= @bussiness_plan.roi %>
</p>

<p>
  <b>Categoria:</b>
  <%= @bussiness_plan.category.name %>
</p>
<p>
  <b>Estado del proyecto:</b>
  <%= @bussiness_plan.status %>
</p>

<%= link_to 'Editar', edit_bussiness_plan_path(@bussiness_plan) %>
<%= link_to 'Regresar', bussiness_plans_path %>
<%if(current_user.guy) == 2  %> <!--Si es un emprendedor tiene derecho a preguntar -->
 <%= link_to 'Question about this business plan',  new_query_path(@bussiness_plan.id) %>
<%end%>
<%= link_to 'Volver a monitoreo', bussiness_plan_mos_path %>