<%= form_for(@entrepreneur) do |f| %>
  <% if @entrepreneur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entrepreneur.errors.count, "error") %> prohibited this entrepreneur from being saved:</h2>

      <ul>
      <% @entrepreneur.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= fields_for :user do |ede| %><br />
    <div class="field">
    <%= ede.label :name %><br />
    <%= ede.text_field :name %>
    </div>
    <div class="field">
    <%= ede.label :firstname %><br />
    <%= ede.text_field :firstname %>
    </div>
    <div class="field">
    <%= ede.label :lastname %><br />
    <%= ede.text_field :lastname %>
    </div>
    <div class="field">
    <%= ede.label :sexo %><br />
    <%= ede.text_field :sexo %>
    </div>
    <div class="field">
    <%= ede.label :document_type %><br />
    <%= ede.text_field :document_type %>
    </div>
    <div class="field">
    <%= ede.label :document_number %><br />
    <%= ede.text_field :document_number %>
    </div>
    <div class="field">
    <%= ede.label :email %><br />
    <%= ede.text_field :email %>
    </div>
    <div class="field">
    <%= ede.label :cellular %><br />
    <%= ede.text_field :cellular %>
    </div>
    <div class="field">
    <%= ede.label :addres %><br />
    <%= ede.text_field :addres %>
    </div>
    <div class="field">
    <%= ede.label :birth_date %><br />
    <%= ede.text_field :birth_date %>
    </div>
    <div class="field">
    <%= ede.label :password %><br />
    <%= ede.text_field :password %>
    </div>
  <% end %>

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
