<h1>Listing entrepreneurs</h1>

<table>
  <tr>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entrepreneurs.each do |entrepreneur| %>
  <tr>
    <td><%= entrepreneur.user %></td>
    <td><%= link_to 'Show', entrepreneur %></td>
    <td><%= link_to 'Edit', edit_entrepreneur_path(entrepreneur) %></td>
    <td><%= link_to 'Destroy', entrepreneur, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entrepreneur', new_entrepreneur_path %>
