<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @entrepreneur.user %>
</p>


<p>
    <b>Name:</b>
    <%= @entrepreneur.user.name %>
  </p>

  <p>
    <b>Firstname</b>
    <%= @entrepreneur.user.firstname %>
  </p>
  <p>
    <b>Lastname</b>
    <%= @entrepreneur.user.lastname %>
  </p>    
  <p>
    <b>Sexo</b>
    <%= @entrepreneur.user.sexo %>
  </p>
  <p>
    <b>Document Type</b>
    <%= @entrepreneur.user.document_type %>
  </p>
  <p>
    <b>Document Number</b>
    <%= @entrepreneur.user.document_number %></p>
  <p>
    <b>Email</b>
    <%= @entrepreneur.user.email %></p>
  <p>
    <b>Cellular</b>
    <%= @entrepreneur.user.cellular %></p>
  <p>
    <b>Addres</b>
    <%= @entrepreneur.user.addres %></p>
  <p>
    <b>Birth Date</b>
    <%= @entrepreneur.user.birth_date %></p>


<%= link_to 'Edit', edit_entrepreneur_path(@entrepreneur) %> |
<%= link_to 'Back', entrepreneurs_path %>
