<p id="notice"><%= notice %></p>

<p>
  <b>Query:</b>
  <%= @reply.query_id %>
</p>
<p>
  <b>Pregunta:</b>
  <%= @reply.query.question %>
</p>

<p>
  <b>Tu Respuesta:</b>
  <%= @reply.content %>
</p>



<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>
