<h1>Listado de Categorias</h1>

<table class="grilla" style="width:600px;">
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pcategories.each do |pcategory| %>
  <tr>
    <td><%= pcategory.name %></td>
    <td><%= pcategory.description %></td>
    <td><%= link_to 'Ver', pcategory %></td>
    <td><%= link_to 'Editar', edit_pcategory_path(pcategory) %></td>
    <td><%= link_to 'Eliminar', pcategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Categoria', new_pcategory_path %>
