<script language="javascript">
	alert("<%=notice%>");
</script>

<p>
  <b>Nombre:</b>
  <%= @pcategory.name %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @pcategory.description %>
</p>


<%= link_to 'Editar', edit_pcategory_path(@pcategory) %>
<%= link_to 'Regresar', pcategories_path %>
