

# in view

<%= debug(@variable) %>

<p id="notice"><%= notice %></p>

<p>
  <b>Apellation:</b>
  <%= @wise.apellation %>
</p>

<p>
  <b>Summary:</b>
  <%= @wise.summary %>
</p>

<p>
  <b>Website:</b>
  <%= @wise.website %>
</p>

<p>
  <b>Bank:</b>
  <%= @wise.bank %>
</p>

<p>
  <b>Banck account:</b>
  <%= @wise.banck_account %>
</p>

<p>
  <b>User:</b>
  <%= @wise.user %>
</p>


<%= link_to 'Edit', edit_wise_path(@wise) %> |
<%= link_to 'Back', wises_path %>
