<p id="notice"><%= notice %></p>
<fieldset style="width:600px;">             
    <legend>Informacion del Sabio <b class="label-result"><%= @wise.user.name %></b></legend>

  <p>
    <b class="label-text">Firstname</b>
    <b><%= @wise.user.firstname %></b>
  </p>
  <p>
    <b class="label-text">Lastname</b>
    <b><%= @wise.user.lastname %></b>
  </p>    
  <p>
    <b class="label-text">Sexo</b>
    <b><%= @wise.user.sexo %></b>
  </p>
  <p>
    <b class="label-text">Document Type</b>
    <b><%= @wise.user.document_type %></b>
  </p>
  <p>
    <b class="label-text">Document Number</b>
    <b class="label-result"><%= @wise.user.document_number %></b>
  </p>
  <p>
    <b class="label-text">Email</b>
    <b class="label-result"><%= @wise.user.email %></b>
  </p>
  <p>
    <b class="label-text">Cellular</b>
    <%= @wise.user.cellular %></p>
  <p>
    <b class="label-text">Addres</b>
    <%= @wise.user.addres %></p>
  <p>
    <b class="label-text">Birth Date</b>
    <%= @wise.user.birth_date %></p>
<p>
  <b class="label-text">Apellation:</b>
  <%= @wise.apellation %>
</p>

<p>
  <b class="label-text">Summary:</b>
  <%= @wise.summary %>
</p>

<p>
  <b class="label-text">Website:</b>
  <%= @wise.website %>
</p>

<p>
  <b class="label-text">Bank:</b>
  <%= @wise.bank %>
</p>

<p>
  <b class="label-text">Banck account:</b>
  <%= @wise.banck_account %>
</p>
</fieldset>    
  

<%= link_to 'Edit', edit_wise_path(@wise) %> |
<%= link_to 'Back', wises_path %>


