<script>
	$(document).ready(function(){
		$("#pagar").click(function(){
				$("#pnlPasarela").toggle("slow");
		});
	});
	
		function validaDatosPasarela(){
			if ($("#pasarelaTarjeta").val() == "") {alert("Debe ingresar datos en la autenticacion de Visa"); return false;}
			if ($("#pasarelaPassword").val() == "") {alert("Debe ingresar datos en la autenticacion de Visa"); return false;}
			if ($("#pasarelaCode").val() == "") {alert("Debe ingresar datos en la autenticacion de Visa"); return false;}
		}
</script>

<%= form_for(@sell) do |f| %>
  <% if @sell.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sell.errors.count, "error") %> prohibited this sell from being saved:</h2>

      <ul>
      <% @sell.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"Tarjeta de Credito" %><br />
    <%= f.text_field :credir_car, :class => "vacios"  %>
  </div>
  <div class="field">
    <%= f.label :Fecha %><br />
    <%= f.text_field :date, :value => Time.now %>
  </div>
  <div class="field">
    <%= f.label :Codigo %><br />
    <%= f.text_field :code, :class => "vacios"  %>
  </div>
  <div class="field">
    <%= f.label :Direccion %><br />
    <%= f.text_field :address, :class => "vacios"  %>
  </div>
  <div class="field">
    <%= f.label :"Seleccione Plan de negocio" %><br />
  <%= f.collection_select :bussiness_plan_id, BussinessPlan.all, :id, :title, :prompt => true %>
  </div>
  

  <div class="field">
   
      <%
@entrepreneur = Entrepreneur.find_by_user_id(current_user.id)
%>
<%= hidden_field(:sell, :entrepreneur_id , :value =>  @entrepreneur.id) %>  

  </div>
  <div class="field">
  	<input type="checkbox" id="pagar" name="pagar" />Mostrar pasarela Visa 
  </div>
  <div class="field" id="pnlPasarela" style="display:none;position:absolute;top:40%;left:33%;background:white;border:1px solid black;"> 
  	<img src="../assets/visa.jpg" style="width:250px; height:130px;"/>
	<table>
	    <tr>
			<td style="width:300px;">Ingrese su Nro tarjeta:</td>
			<td><input type="text" value="" id="pasarelaTarjeta" name="pasarelaTarjeta" style="width:300px;" /></td>
		</tr>
		<tr>
			<td style="width:300px;">Ingrese su contrase&ntildea</td>
			<td><input type="password" value="" id="pasarelaPassword" name="pasarelaPassword" /></td>
	    </tr>
		<tr>
			<td style="width:300px;">Ingrese Codigo secreto:</td>
			<td><input type="text" value="" id="pasarelaCode" name="pasarelaCode" /></td>
		</tr>
	</table>
  </div>
  
  <div class="actions">
    <%= f.submit "Grabar", :onclick => "return validaDatosPasarela();" %>
  </div>
<% end %>

