<h1>Listado de Ventas</h1>

<table class="grilla" style="width:1000px;">
  <tr>
    <th>Taejeta de Credito</th>
    <th>Fecha</th>
    <th>Direccion</th>
    <th>Plan de negocio</th>
    <th>Emprendedor</th>
    <th></th>
    <th></th>
  </tr>

<% @sells.each do |sell| %>
  <tr>
    <td><%= sell.credir_car %></td>
    <td><%= sell.date %></td>
    <td><%= sell.address %></td>
    <td><%= sell.bussiness_plan.title %></td>
    <td><%= sell.entrepreneur.user.firstname %>&nbsp;<%= sell.entrepreneur.user.lastname %></td>
    <td><%= link_to 'Ver', sell %></td>
    <td><%= link_to 'Eliminar', sell, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva venta', new_sell_path %>
