<script language="javascript">
	alert("<%=notice%>");
</script>


<p>
  <b>Tarjeta de Credito:</b>
  <%= @sell.credir_car %>
</p>

<p>
  <b>Fecha:</b>
  <%= @sell.date %>
</p>

<p>
  <b>Codigo:</b>
  <%= @sell.code %>
</p>

<p>
  <b>Direccion:</b>
  <%= @sell.address %>
</p>

<p>
  <b>Plan de Negocio:</b>
  <%= @sell.bussiness_plan.title %>
</p>

<p>
  <b>Emprendedor:</b>
  <%= @sell.entrepreneur.user.firstname %>&nbsp;<%= @sell.entrepreneur.user.lastname %>
</p>


<%= link_to 'Editar', edit_sell_path(@sell) %>
<%= link_to 'Regresar', sells_path %>
