<!DOCTYPE html>
<html>
<head>
  <title>Proyecto parcial de DEW</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "start/jquery-ui-1.8.23.custom", :media => "all" %>
  <%= javascript_include_tag "jquery-1.8.0.min" %>
  <%= javascript_include_tag "jquery-ui-1.8.23.custom.min" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


</head>
<body>
<table id="banner">
	<tr>
		<td class="fondo">
		 &nbsp;
		</td>
	</tr>
</table>
<p id="notice"><%= notice %></p>
 <% if current_user %>
<div id="menu">
    <ul class="menu">
        <li><a href="#" onclick="javascript:alert('sin funcionalidad');" class="parent"><span>Pagina principal</span></a></li>
        <li><a href="#" class="parent"><span>Mantenimiento</span></a>
            <ul>
            	<li><a href="/pcategories"><span>Categoria</span></a></li>
                <li><a href="/categories"><span>Sub Categoria</span></a></li>
                <li><a href="/bussiness_plans"><span>Planes de Negocio</span></a></li>
				<li><a href="/entrepreneurs"><span>Emprendedores</span></a></li>
				<li><a href="/wises"><span>Sabios</span></a></li>
                <li><a href="/users"><span>Usuario</span></a></li>
            </ul>
        </li>
        <li><a href="#" class="parent"><span>Procesos</span></a>
            <ul>
            	<li><a href="/bussiness_plan_mos"><span>Monitorear plan</span></a></li>
		<li><a href="/sells/new"><span>Comprar plan</span></a></li>
            </ul>
        </li>
        <li class="last"><a href="#" onclick="javascript:alert('Sin Funcionalidad');"><span>Salir</span></a></li>
    </ul>
</div>
<% end %>
 

    <div id="nav">
        <% if current_user %>
        <%= link_to "Edit Profile", edit_user_path(current_user.id)%>
        <%= link_to "Logout", :logout%>
        <% else %>
        <%= link_to "Register", new_user_path%> |
        <%= link_to "Login", :login %>
        <% end %>
    </div>


<div id="formularios" style="min-height:600px;">
	<%= yield %>
</div>
<div id="footer">
	<div id="footer_text">Copyright 2012 - Todos los derechos reservados.<br />
	Desarrollado por los alumnos de UPC-EPE
	</div>
</div>
</body>
  <%= javascript_include_tag "application" %>
</html>
