<!DOCTYPE html>
<html>
<head>
  <title>Proyecto parcial de DEW</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "start/jquery-ui-1.8.23.custom", :media => "all" %>
  <%= javascript_include_tag "jquery-1.8.0.min" %>
  <%= javascript_include_tag "jquery-ui-1.8.23.custom.min" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js" language="javascript"></script>
  <script>
	function validaCamposVacios (){
		var valida = true;
		$(".vacios").each(function(index, object){
			if (valida == true){
				if (object.value == "" || object.value== undefined){
					alert("Alguno de los campos obligatorios se encuentra vacio.");
					valida = false;
				}
			}
		});
		return valida;
	}
  </script>
</head>
<body>
<table id="banner">
	<tr>
		<td class="fondo">
		 &nbsp;
		</td>
	</tr>
</table>
<p id="notice"><%= notice %></p>

    <div id="nav">
        <% if current_user %>
        Bienvenido   
        <strong><%= current_user.username %></strong>
        <%= current_user.guy %>
        <%="Esta usted logeado como" %>
        <% if (current_user.guy)== 1 %>
            <strong><%=" Sabio" %></strong>
        <% elsif (current_user.guy)== 2 %></strong>
            <strong><%=" Emprendedor" %></strong>    
        <% elsif (current_user.guy)== 3 %>
            <strong><%=" Administrador" %></strong>        
        <%end%>
        <!--<%= link_to "Edit Profile", edit_user_path(current_user.id)%>-->
        <%= link_to "Logout", :logout%>
        <% else %>
        <!-- <%= link_to "Register", new_user_path%>-->
        <%= link_to "Registrarse como Sabio" , new_wise_path %> 
        <%= link_to "Registrarse como Emprendedor" , new_entrepreneur_path %> 
        <%= link_to "Login", :login %>
        <% end %>
    </div>

<% if current_user %>
<div id="menu">
    <ul class="menu">
        <li><a href="#" onclick="javascript:alert('sin funcionalidad');" class="parent"><span>Pagina principal</span></a></li>
        <li><a href="#" class="parent"><span>Mantenimiento</span></a>
            <ul>
				<% if (current_user.guy)== 3 %>
					<li><a href="/pcategories"><span>Categoria</span></a></li>
					<li><a href="/categories"><span>Sub Categoria</span></a></li>
					<li><a href="/entrepreneurs"><span>Emprendedores</span></a></li>
					<li><a href="/wises"><span>Sabios</span></a></li>
					<li><a href="/users"><span>Usuario</span></a></li>
				<%end%>
				
                <li><a href="/bussiness_plans"><span>Planes de Negocio</span></a></li>
				
            </ul>
        </li>
        <li><a href="#" class="parent"><span>Procesos</span></a>
            <ul>
          	<li><a href="/bussiness_plan_mos"><span>Monitorear plan</span></a></li>
			<% if (current_user.guy)== 2 %>            
            <li><a href="/sells/new"><span>Comprar plan</span></a></li>
            <%end%>
            
			<% if (current_user.guy)== 1 %>
            <li><a href="/queries"><span>Preguntas Planes de negocio</span></a></li>
            <%end%>
            <% if (current_user.guy)== 2 %>
            <li>
              <%= link_to "Respuestas Planes de Negocio", :responses %>
              <!--<a href="/queries"><span>Respuestas Planes de negocio</span></a></li> -->
            <%end%>

            </ul>
        </li>
        <li class="last"><%= link_to "Logout", :logout%></li>
    </ul>
</div>
<% end %>
 




<div id="formularios" style="min-height:600px;">
	<%= yield %>
</div>
<div id="footer">
	<div id="footer_text">Copyright 2012 - Todos los derechos reservados.<br />
	Desarrollado por los alumnos de UPC-EPE
	</div>
</div>
</body>
  <%= javascript_include_tag "application" %>
</html>
